.bottom.grid{
    row-gap: 0px;
    column-gap: 20px;
}
.bottom > label{
    display: block;
    /* max-width: 370px; */
    padding-left: 10px;
    /* height: 50px; */
}
input{
    /* max-width: 370px; */
    width: 100%;
    margin: 10px 0;
    height: 50px;
    padding: 4px 10px;
    font-size: 16px;
    border: 0.89px  solid var(--input-field-border);
    border-radius: 9px;
    outline: none;
    background-color: var(--input-field-color);
}
.input:placeholder-shown{
    color: var(--input-placeholder-color);
}
.form_control{
    padding: 10px;
    justify-content: space-between;
}
.form_control.grid{
    grid-template-columns: 100px 100px 130px;
    justify-content: space-between;
}
/* Upload Button */
.control > span{
    padding-left: 10px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    /* display: inline-block; */
    padding: 4px 10px;
    margin: 10px 0;
    cursor: pointer;
    height: 50px;
    border: 0.89px  solid var(--input-field-border);
    border-radius: 9px;
    outline: none;
    background-color: var(--button-color);
    color: #fff;
}
.custom-file-upload span{
    height: 100%;
    padding-top: 0.56rem;
    overflow: hidden;
    flex-wrap: nowrap;
}
.custom-file-upload i{
    margin-right: 10px;
}