@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root{
    --wrapper-bg:rgba(253, 237, 236, 1);
    --success:#58D68D;
    --in-progress: #F5B041;
    --incomplete:#FF4433;
    --input-field-color: rgba(255, 253, 231, 0.5);
    --input-field-border:#C0C0C0;
    --button-color:#2196F3;
    --text-color:#2C3E50;
    --green-for-calendar:#a3e4d7;
    --radio-button-border:#C0C0C0;
    --radio-button-checked:#29b6f6;
    --input-placeholder-color:#95a5a6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.block {
    display: block;
}
.align-left{
    text-align: left;
}

/*btn*/
.btn{
    width: 120px;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 4px 12px;
    margin: 10px;
    cursor: pointer;
    height: 50px;
    border: 0.89px  solid var(--input-field-border);
    border-radius: 9px;
    outline: none;
    background-color: var(--button-color);
    color: #fff;
    transition: tranform 0.5s ease-in;
}

.btn:hover{
    transform: scale(1.1);
}

/*Form Switches*/
.disable-appearance{
    display: none;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

