@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
:root{
    --wrapper-bg:rgba(253, 237, 236, 1);
    --success:#58D68D;
    --in-progress: #F5B041;
    --incomplete:#FF4433;
    --input-field-color: rgba(255, 253, 231, 0.5);
    --input-field-border:#C0C0C0;
    --button-color:#2196F3;
    --text-color:#2C3E50;
    --green-for-calendar:#a3e4d7;
    --radio-button-border:#C0C0C0;
    --radio-button-checked:#29b6f6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

body{
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}

.wrapper{
    width: 900px;
    background: var(--wrapper-bg);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 7px;
    padding: 20px 26px;
}

.text-center{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
.block{
    display: block;
}
.top{
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
}

.top > h2{
    font-size: 32px;
    letter-spacing: 2px;
    color: #5D6D7E;
    font-weight: 600;
    padding-top: 8px;
}

/*cALENDAR*/
.date-line{
    width: 180px;
    display: flex;
    position: relative;
    user-select: none;
}
.date-line p i{
    padding-top: 20px;
    padding-left: 4px;
    font-size: 12px;
    font-weight: 700;
}
.date-line button{
    background: none;
    border: none;
    outline: none;
}
.date-line:hover{
    cursor: pointer;
}

.disappear{
    opacity: 0;
    visibility: hidden;
}

.calendar{
    width: fit-content;
    /* height: 500px; */
    z-index: 9;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.8px);
-webkit-backdrop-filter: blur(5.8px);
border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    transform:  opacity 150ms ease-in-out;
    position: absolute;
    top: calc(100% + .20rem);
    left: -10px;
}


.month{
    /* width: 100%; */
    height: 3rem;
    padding: 0 1.5rem;
}

.month.flex{
    justify-content: space-between;
}

.month i{
    font-size: 1.1rem;
    cursor: pointer;
}
.month h2{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin: 0px 0;
}

.weekdays{
    /* width: 100%; */
    height: 1.25rem;
    padding: 0 0.6rem;
    /* background-color: #076ADD; */
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.weekdays.grid{
    grid-template-columns: repeat(7 , 1fr);
    gap: 10px;
}
.weekdays div{
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 0.3rem;
}

.days {
    /* width: 100%; */
    padding: 0 0.6rem;
    margin-top: 10px ;
    margin-bottom: 8px;
    /* margin-top: 20px; */
}
.days.grid{
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.days span {
    /* font-size: 1.4rem; */
    width: 100%;
    letter-spacing: 2px;
    padding: 0.6rem 0.3rem;
    border-radius: 10px;
    font-weight: 500;
    transition: color,font-weight 0.2s ease-in;
}

.days span:hover {
    /* border: 0.5px solid #777; */
    /* color: #076ADD; */
    /* font-size: 18px; */
    background-color: var(--green-for-calendar);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
  
.prev-date,
.next-date {
    opacity: 0.5;
    font-weight: 400;
    font-size: 11px;
}
  
.today {
    background-color: #A3e4d7;
    color: #fff;
}

/* Middle */
.middle{
    margin: 12px 0;
}

/* CheckBox */
.checkbox-area{
    margin: 24px 0;
}
.radio{
    display: inline-flex;
    cursor: pointer;
}
.radio_input{
    display: none;
}

.radio_radio{
    width: 1.25em;
    height: 1.25em;
    border: 2px solid var(--radio-button-border);
    border-radius: 50%;
    margin: 2px 10px;
    padding: 2px;
}

.radio_radio::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: var(--radio-button-checked);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.25s;
}

.radio_input:checked + .radio_radio::after{
     transform: scale(1);
}

/*Progress bar*/
/* .progress-container{
    margin: 20px 30px;
    position: relative;
    justify-content: space-between;
    
    max-width: 100%;
    width: 600px;
    margin: auto;
    
}
.progress-container::before{
    content: "";
    background-color: #b2bec3;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: 0;
}
.progress{
    
    background-color: black;
    position: absolute;
    top: 50%;
    
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: 0;
}

.circle{
    
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    
    z-index: 2;
    transition: 0.6 ease-in;
}
.incomplete{
    background-color: var(--incomplete); 
    border: 2px solid var(--incomplete);
}
.active{
    border-color: var(--success);
    background-color: var(--success);
}
.in-progress{
    border-color: var(--in-progress);
    background-color: var(--in-progress);
}

.circle:hover{
    cursor: pointer;
    transform: scale(1.2);
} */

/*Forms */
/* Upload Button */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}