.date-line{
    display: flex;
    position: relative;
    user-select: none;
}
.date-line p i{
    padding-top: 20px;
    padding-left: 4px;
    font-size: 12px;
}
.date-line button{
    background: none;
    border: none;
    outline: none;
}
.date-line:hover{
    cursor: pointer;
}

.disappear{
    opacity: 0;
    visibility: hidden;
}
/* calendar */
.calendar{
    width: fit-content;
    /* height: 500px; */
    
/* From https://css.glass */
background: rgba(255, 255, 255, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.8px);
-webkit-backdrop-filter: blur(5.8px);
border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;

    position: absolute;
    top: 62px;
    left: 50px;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}


.month{
    /* width: 100%; */
    height: 3rem;
    padding: 0 1.5rem;
}

.month.flex{
    justify-content: space-between;
}

.month i{
    font-size: 1.1rem;
    cursor: pointer;
}
.month h2{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin: 0px 0;
}

.weekdays{
    /* width: 100%; */
    height: 1.25rem;
    padding: 0 0.6rem;
    /* background-color: #076ADD; */
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.weekdays.grid{
    grid-template-columns: repeat(7 , 1fr);
    gap: 10px;
}
.weekdays div{
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 0.3rem;
}

.days {
    /* width: 100%; */
    padding: 0 0.6rem;
    margin-top: 10px ;
    margin-bottom: 8px;
    /* margin-top: 20px; */
}
.days.grid{
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.days span {
    /* font-size: 1.4rem; */
    width: 100%;
    letter-spacing: 2px;
    padding: 0.6rem 0.3rem;
    border-radius: 10px;
    font-weight: 500;
    transition: color,font-weight 0.2s ease-in;
}

.days span:hover:not(.today) {
    /* border: 0.5px solid #777; */
    /* color: #076ADD; */
    /* font-size: 18px; */
    font-weight: 600;
    cursor: pointer;
}
  
.prev-date,
.next-date {
    opacity: 0.5;
    font-weight: 400;
    font-size: 11px;
}
  
/* .today {
    background-color: #A3e4d7;
    color: #fff;
} */